.family-canvas {
  background-color: #666666;
}

.male {
  background-color: blue;
  color: white;
}

.female {
  background-color: #FF3399;
  color: white;
},

.pet {
  border: 1px solid orange;
}

.add-button {
  border: 2px solid black;
  background-color: #FFCC33;
  color: black;
}

/* Terminal colors*/
.invite {
  border-left: 2px solid yellow;
  border-right: 2px solid yellow;
}
.father-terminal.invite, .mother-terminal.invite {
  border-top: 2px solid yellow;
}

.children-terminal.invite {
  border-bottom: 2px solid yellow;
}

.pets-terminal.invite, .spouse-terminal.invite {
  border-left: 0px solid yellow;
  border-right: 0px solid yellow;
  border-top: 2px solid yellow;
  border-bottom: 2px solid yellow;
}

.accept {
  background-color: black;
}

.father-terminal {
  background-color: #0033FF;
}

.mother-terminal {
  background-color: #CC0033;
}

.spouse-terminal {
  background-color: black;
}

.children-terminal {
  background-color: #990099;
}

.pets-terminal, .master-terminal {
  background-color: #FF3300;
}



