/* ==========================================================================
*  Project:   StandardTheme Theme Styles
*  Copyright: ©2010 Evin Grano and contributors
*  ==========================================================================
*/

/* 
  Place any styles you want to define in this file.  You can also break your
  styles into multiple files.  Just add them to your resources or .lrpoj
  directories to be included in the build.
*/


/* Header
--------------------------------------------- */

.header {
  background: #c1e9f1 static_url('images/sprite.png');
}

.logo {
  width: 216px;
  height: 37px;
  position: absolute;
  top: 50%;
  left: 10px;
  margin: -18px 0 0;
  background: static_url('images/logo.png');
  text-indent: -9999px;
}

.blurb {
  width: 171px;
  height: 15px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: static_url('images/blurb.png');
  text-indent: -9999px;
}