/* ==========================================================================
*  Project:   StandardTheme Theme Styles
*  Copyright: ©2010 Evin Grano and contributors
*  ==========================================================================
*/

/* 
  Place any styles you want to define in this file.  You can also break your
  styles into multiple files.  Just add them to your resources or .lrpoj
  directories to be included in the build.
*/


/* Header
--------------------------------------------- */

.header {
  background: #c1e9f1 static_url('images/sprite.png');
}

.logo {
  width: 216px;
  height: 37px;
  position: absolute;
  top: 50%;
  left: 10px;
  margin: -18px 0 0;
  background: static_url('images/logo.png');
  text-indent: -9999px;
}

.blurb {
  width: 171px;
  height: 15px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: static_url('images/blurb.png');
  text-indent: -9999px;
}


/* Master List
--------------------------------------------- */

.master-list {
  border-bottom: 1px solid #c2c2c2;
  background: #f2f2f2;
}

.master-list .family {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #cecece;
}

.master-list .family.selected {
  border-top-color: #eef4f8;
  border-bottom-color: #9aaab6;
  background: static_url('images/sprite.png') 0 -56px;
}

.master-list .name {
  padding: 0 0 0 42px;
  background: static_url('images/sprite.png') no-repeat 0 -135px;
  line-height: 24px;
  text-shadow: 0 1px 0 rgba(255,255,255,.75);
}

.master-list .badge {
  background: static_url('images/sprite.png') 0 -99px;
  font-size: 10px;
  line-height: 17px;
  text-shadow: 0 1px 0 rgba(255,255,255,.75);
}

.master-list .selected .badge {
  background-position: 0 -117px;
}


/* Footer
--------------------------------------------- */

.footer {
  border-top: 1px solid #ededed;
  background: static_url('images/sprite.png') 0 -159px;
}

.footer .add {
  background: static_url('images/sprite.png') 0 -210px;
}

.footer .add.active {
  background-position: 0 -258px;
}

.footer .remove {
  background: static_url('images/sprite.png') 0 -234px;
}

.footer .remove.active {
  background-position: 0 -282px;
}

.footer img {
  width: 16px;
  height: 16px;
  margin: 5px 0 0 6px;
  background: static_url('images/sprite.png');
}

.footer .add img {
  background-position: 0 -194px;
}

.footer .remove img {
  background-position: -16px -194px;
}


/* OLD STUFF - To Be Replaced
--------------------------------------------- */

/* Canvas */
.family-canvas {
  background-color: #555;
}
 
/* Nodes */
.human, .pet {
  border: 2px solid rgba(112, 255, 255, 0);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, .75);
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, .75);
  overflow:visible; /* why not let the terminals poke out a bit? */
  
  -moz-transition: border .1s linear;
  -webkit-transition: border .1s linear;
}
 
.human.selected, .pet.selected {
  border: 2px solid rgba(255, 255, 255, 1);
  -moz-box-shadow: 2px 2px 8px rgba(0, 0, 0, .75);
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, .75);
}
 
.male {
  background: #A5C0DC;
  background: -moz-gradient(linear, left top, left bottom, from(#A5C0DC), to(#728DA9));
  background: -webkit-gradient(linear, left top, left bottom, from(#A5C0DC), to(#728DA9));
  color: #00275B;
  text-shadow: 0px 1px 1px white;
}
 
.female {
  background: #E08CDF;
  background: -moz-gradient(linear, left top, left bottom, from(#E08CDF), to(#A65AA1));
  background: -webkit-gradient(linear, left top, left bottom, from(#E08CDF), to(#A65AA1));
  color: #490048;
  text-shadow: 0px 1px 1px white;
}
 
.pet {
  background: #9BD493;
  background: -moz-gradient(linear, left top, left bottom, from(#9BD493), to(#65985E));
  background: -webkit-gradient(linear, left top, left bottom, from(#9BD493), to(#65985E));
}
 
.add-button {
  -moz-transition: opacity .15s linear;
  -webkit-transition: opacity .15s linear;
  opacity: .5;
}
 
.add-button:hover {
  opacity:1;
}
 
/* Terminal colors*/
.father-terminal, .mother-terminal, .pets-terminal, .spouse-terminal, .children-terminal, .master-terminal {
  border: 2px solid rgba(255, 255, 255, 0);
  -moz-transition: border .1s linear;
  -moz-box-shadow: 0px 0px 2px rgba(0,0,0,.75);
  -moz-border-radius: 7px;
  
  -webkit-transition: border .1s linear;
  -webkit-box-shadow: 0px 0px 2px rgba(0,0,0,.75);
  -webkit-border-radius: 7px;
}
 
.accept {
  background-color: black;
}
 
.father-terminal {
  background-color: #A5C0DC;
  border: 1px solid #325478;
}
 
.mother-terminal {
  background-color: #E08CDF;
  border: 1px solid #642462;
}
 
.spouse-terminal {
  background-color: #C63534;
  border:1px solid #570000;
  
}
 
.children-terminal {
  background-color: #9D58CE;
  border:1px solid #3B155B;
}
 
.pets-terminal, .master-terminal {
  background-color: #9BD493;
  border:1px solid #074300;
}
 
 
/* Invites */
.invite {
  border: 2px solid white;
}